

<div class="Profiles">
    <div class="content" style="background-color:lightgray">
        <div class="panel-header" style="        height: 207px !important;
        padding-top: 80px;
        padding-bottom: 45px;
        background: #141E30;
        background-image: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(60%, rgb(218, 235, 255)), to(rgb(54 76 149)));
        background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(218, 235, 255) 60%, rgb(54 76 149) 100%) !important;
">
        </div>
        <div class="row DataSet" style="height:100%">
            <div class="col-md-12">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="content d-flex justify-content-center" dir="rtl">


                                <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2">


                                    <div class="card" style="height: auto">
                                        <div class="card-header card-header-primary card-header-icon">
                                            <div class="card-icon">
                                                <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                                            </div>  <h4 class="card-title">تغيير كلمه المرور</h4>
                                        </div>
                                        <br />
                                        <div class="card-body">
                                            <div class="content" style="color:black!important">

                                                <br />
                                                <br />
                                                <br />

                                                <el-form label-position="top"
                                                         :model="ruleForm"
                                                         :rules="rules"
                                                         dir="rtl"
                                                         ref="ruleForm"
                                                         style="text-align:right"
                                                         label-width="120px"
                                                         class="demo-ruleForm">
                                                    <br />


                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group align-right">
                                                                <el-form-item label="كلمة المرور الحاليه" prop="Password">
                                                                    <el-input type="password" placeholder="كلمة المرور الحاليه" v-model="ruleForm.Password"></el-input>
                                                                </el-form-item>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group align-right">
                                                                <el-form-item label="كلمه المرور الجديده" prop="NewPassword">
                                                                    <el-input type="password" placeholder="كلمه المرور الجديده" v-model="ruleForm.NewPassword"></el-input>
                                                                </el-form-item>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group align-right">
                                                                <el-form-item label="تأكيد كلمه المرور الجديده" prop="CPassword">
                                                                    <el-input type="password" placeholder="تأكيد كلمه المرور الجديده" v-model="ruleForm.CPassword"></el-input>
                                                                </el-form-item>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row card-footer justify-content-center">
                                                        <div class="card-footer justify-content-center" dir="ltr">

                                                            <el-button class="btn btn-info pull-right" style="background-color:#409EFF;color:white" 
                                                                       @click.prevent="submitForm('ruleForm')">تغير كلمة المرور</el-button>
                                                        </div>
                                                    </div>

                                                </el-form>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div> <!-- end col-md-12 -->
                    </div> <!-- end row -->
                </div>
            </div>
        </div>
    </div>


</div>




