################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScreenControl/v16/Server/sqlite3

/Publish
/Publish Old.zip
