

<div class="col-md-12">

    <div class="card" style="direction: rtl;">

        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="card-title" style="float: right;">إضافة بيانات مستخدم جديد  </h3>
                </div>
                <div class="col-md-2" style="text-align: left;">
                    <button class="btn btn-default" @click.prevent="Back()">
                        رجوع
                    </button>
                </div>

            </div>
        </div>
        <div class="card-body">

            <!--{{ruleForm}}-->
            <el-form label-position="top"
                     :model="ruleForm"
                     :rules="rules"
                     dir="rtl"
                     ref="ruleForm"
                     style="text-align:right"
                     label-width="120px"
                     class="demo-ruleForm">
                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group align-right">
                            <el-form-item label="الاسم" prop="Name">
                                <el-input type="text" placeholder="الاسم" v-model="ruleForm.Name"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group align-right">
                            <el-form-item label="رقم الهاتف  " prop="Phone">
                                <el-input type="text" placeholder=" رقم الهاتف " v-model="ruleForm.Phone"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group align-right">
                            <el-form-item label="البريد الالكتروني " prop="Email">
                                <el-input type="email" placeholder=" البريد الالكتروني" v-model="ruleForm.Email"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                   
                </div>

               

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group align-right">
                            <el-form-item label="الصفة الوظيفية" prop="UserType">
                                <el-select style="width: 100%;" v-model="ruleForm.UserType" filterable placeholder="الصفة الوظيفية">
                                    <el-option v-for="item in [{id:1,name:'مدير النظام'},{id:2,name:'راصد بيانات'},{id:3,name:'محلل بيانات'}]"
                                               :key="item.id"
                                               :label="item.name"
                                               :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-3" v-if="ruleForm.UserType==2">
                        <div class="form-group align-right">
                            <el-form-item label=" موقع الرصد" >
                                <el-select v-model="MunicipalitieId"
                                           style="width:100%;"
                                           @change="GetHospitalsName()"
                                           filterable placeholder="موقع الرصد">
                                    <el-option v-for="item in Municipalitie"
                                               :key="item.id"
                                               :label="item.name"
                                               :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-3" v-if="ruleForm.UserType==2">
                        <div class="form-group align-right">
                            <el-form-item label=" المستشفي" prop="BranchId">
                                <el-select style="width: 100%;" v-model="ruleForm.BranchId" filterable placeholder="المستشفي">
                                    <el-option v-for="item in Branches"
                                               :key="item.id"
                                               :label="item.name"
                                               :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                        

                    </div>
                    
                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group align-right">
                            <el-form-item label="اسم الدخول" prop="LoginName">
                                <el-input type="text" placeholder="اسم الدخول" v-model="ruleForm.LoginName"></el-input>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group align-right">
                            <el-form-item label="كلمة المرور" prop="Password">
                                <el-input type="password" placeholder="كلمة المرور" v-model="ruleForm.Password"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group align-right">
                            <el-form-item label="تاكيد كلمة المرور" prop="CPassword">
                                <el-input type="password" placeholder="تاكيد كلمة المرور" v-model="ruleForm.CPassword"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group align-right">
                            <el-form-item label="حالة الحساب" prop="Status">
                                <el-select style="width: 100%;" v-model="ruleForm.Status" filterable placeholder="حالة الحساب">
                                    <el-option v-for="item in [{id:1,name:'نشط'},{id:2,name:'غير نشط'}]"
                                               :key="item.id"
                                               :label="item.name"
                                               :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-4" v-if="ruleForm.UserType!=2">
                    </div>
                    <div class="col-md-4" v-if="ruleForm.UserType!=2" style="direction: ltr;text-align: left;margin-top:35px">
                        <button class="btn btn-info" @click.prevent="submitForm('ruleForm')">إضافة البيانات</button>
                    </div>
                    <div class="col-md-2" v-if="ruleForm.UserType==2" style="direction: ltr;text-align: left;margin-top:35px">
                        <button class="btn btn-info" @click.prevent="submitForm('ruleForm')">إضافة البيانات</button>
                    </div>
                </div>

            </el-form>

        </div>
    </div>
</div>











