
<div class="Profiles">
    <div class="content" style="background-color:lightgray">
        <div class="panel-header" style="        height: 207px !important;
        padding-top: 80px;
        padding-bottom: 45px;
        background: #141E30;
        background-image: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(60%, rgb(218, 235, 255)), to(rgb(54 76 149)));
        background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(218, 235, 255) 60%, rgb(54 76 149) 100%) !important;
">
        </div>
        <div class="row DataSet" style="height:100%">
            <div class="col-md-12 zoomIn">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="card" style="direction: rtl;" v-if="state==0">
                                <div class="card-header">

                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="card-title" style="float: right;">بيانــات الامراض </h4>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group bmd-form-group" style="margin-top:20px">
                                                <el-select @change="GetInfo()"
                                                           v-model="Type"
                                                           filterable placeholder="القسم">
                                                    <el-option v-for="item in [{id:1,name:' القسم الأول'},{id:2,name:' القسم التاني'}]"
                                                               :key="item.id"
                                                               :label="item.name"
                                                               :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>
                                        <div class="col-md-5">


                                        </div>
                                        <div class="col-md-3" style="text-align: left;">
                                            <button class="btn btn-info" @click.prevent="Print">
                                                <i class="fa fa-print"></i>
                                                طباعة الامراض المدرجة
                                            </button>
                                        </div>

                                        <div class="col-md-1" style="margin-top:-6px">
                                            <div class="form-group bmd-form-group" style="margin-top:15px">
                                                <el-select @change="GetInfo()"
                                                           v-model="pageSize"
                                                           filterable placeholder="">
                                                    <el-option v-for="item in [{id:5,name:'5 '},{id:10,name:'10'},{id:20,name:'20'},{id:40,name:'40'},{id:100,name:'100'}]"
                                                               :key="item.id"
                                                               :label="item.name"
                                                               :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <br />
                                    <br />

                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                                    <el-alert v-if="Info==0"
                                              title="لاتـوجد بيانات في الوقت الحالي  "
                                              type="warning"
                                              show-icon style="font-size:18px!important">
                                    </el-alert>
                                    <!--{{Info}}-->
                                    <div v-if="Info!=0" style="overflow-y: auto">
                                        <table id="datatable"
                                               class="table table-striped table-bordered"
                                               cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th style="font-size: 1.063rem;text-align: center">#</th>
                                                    <th style="font-size: 1.063rem;text-align: center"> اسم المرض</th>
                                                    <th style="font-size: 1.063rem;text-align: center"> اسم المرض (إنجليزي)</th>
                                                    <th style="font-size: 1.063rem;text-align: center"> تعريف الحالة للمرض</th>
                                                    <th style="font-size: 1.063rem;text-align: center"> القسم</th>
                                                    <th style="font-size: 1.063rem;text-align: center">تاريخ الادراج</th>
                                                    <th class="text-left" style="font-size: 1.063rem;" v-if="loginDetails.userType==1">الإعدادات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item,index in Info">
                                                    <td>
                                                        {{index+1}}
                                                    </td>
                                                    <td class="td-name " style="text-align:center">
                                                        <a>{{item.name}}</a>
                                                    </td>
                                                    <td class="td-name " style="text-align:center">
                                                        <a>{{item.englishName}}</a>
                                                    </td>
                                                    <td class="td-name " style="text-align:center">
                                                        <a>{{item.descriptions}}</a>
                                                    </td>
                                                    <td style="text-align: center">
                                                        <span class="badge badge-pill badge-default" v-if="item.type==1">القسم الأول </span>
                                                        <span class="badge badge-pill badge-warning" v-if="item.type==2"> القسم التاني</span>
                                                        <span class="badge badge-pill badge-danger" v-if="item.type!=2 && item.type!=1"> لم يتم تحديد القسم</span>
                                                    </td>
                                                    <td style="text-align:center">
                                                        {{item.createdOn | moment}}
                                                    </td>
                                                    <td class="td-actions text_align-left"  v-if="loginDetails.userType==1">

                                                        <button @click.prevent="EditItem(item)"
                                                                type="button"
                                                                rel="tooltip"
                                                                class="btn btn-warning btn-link"
                                                                title="تعديل البيانات">
                                                            <i class="material-icons">
                                                                edit_note
                                                            </i>

                                                            <div class="ripple-container"></div>
                                                        </button>

                                                        <button @click.prevent="deleteItem(item.id)"
                                                                type="button"
                                                                rel="tooltip"
                                                                class="btn btn-danger btn-link"
                                                                title="حذف">
                                                            <i class="material-icons">
                                                                delete
                                                            </i>
                                                            <div class="ripple-container"></div>
                                                        </button>
                                                        <!--<a><i class="fa fa-edit"></i></a>
    <a><i class="fa fa-remove"></i></a>
    <a><i class="fa fa-lock"></i></a>
    <a><i class="fa fa-unlock"></i></a>-->



                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>

                                        <div style="text-align: center;padding-bottom:11px">
                                            <el-pagination background
                                                           layout="prev, pager, next"
                                                           :current-page="pageNo"
                                                           :page-size="pageSize"
                                                           :total="pages"
                                                           @current-change="GetInfo($event)">
                                            </el-pagination>
                                        </div>
                                    </div>


                                </div><!-- end content-->
                            </div><!--  end card  -->
                        </div> <!-- end col-md-12 -->
                    </div> <!-- end row -->
                </div>
            </div>
        </div>
    </div>

    <el-dialog title="تعديل البيانات"
               :visible.sync="EditDialog"
               width="50%"
               center>
        <div class="row">
            <el-form label-position="top"
                     :model="ruleForm"
                     :rules="rules"
                     ref="ruleForm"
                     label-width="120px"
                     class="demo-ruleForm"
                     style="width: 100%;">
                <br />


                <!--{{ruleForm}}-->
                <div class="row" dir="rtl">
                    <div class="col-md-6">
                        <div class="form-group align-right">
                            <el-form-item label="إسم المرض" prop="Name">
                                <el-input type="text" placeholder="إسم المرض" v-model="ruleForm.Name"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group align-right">
                            <el-form-item label="إسم المرض (إنجليزي)" prop="EngilshName">
                                <el-input type="text" placeholder="إسم المرض (إنجليزي)" v-model="ruleForm.EngilshName"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                </div>
                <br />


                <div class="row" dir="rtl">

                    <div class="col-md-6">
                        <div class="form-group align-right">
                            <el-form-item label="تعريف الحالة المرض">
                                <el-input type="text" v-model="ruleForm.Descriptions" placeholder="تعريف الحالة للمرض"></el-input>
                            </el-form-item>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group align-right">
                            <el-form-item label="القسم" prop="Type">
                                <el-select style="width: 100%;" v-model="ruleForm.Type" filterable placeholder=" القسم">
                                    <el-option v-for="item in [{id:1,name:'القسم الأول '},{id:2,name:' القسم التاني'}]"
                                               :key="item.id"
                                               :label="item.name"
                                               :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="col-md-3" style="direction: ltr; text-align: left; margin-top: 35px ">
                        <button class="btn btn-success"
                                style="margin-top: 17px;margin-left: 21px;"
                                @click.prevent="submitForm('ruleForm')">
                            تعديل البيانات
                        </button>
                    </div>
                </div>
                <br />

            </el-form>
        </div>
           
        </span>
    </el-dialog>

</div>

