<div class="login-page sidebar-mini">
    <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute" dir="rtl">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" style="color:black;font-weight:bold;">إدارة الرصد والاستجابة السريعة  / دخـول المخولين</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper wrapper-full-page ">
        <div class="full-page section-image" style=" background-image: url('./img/BackgroundImage.png'); height: auto; background-color: none;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->

        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <form class="form">
                        <div class="card card-login card-plain">
                            <div class="card-header ">
                                <div class="logo-container" style=" width: 200px;">
                                    <img src="/assets/logo.jpg" alt="" style="max-width: 170%!important;">
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="input-group no-border form-control-lg">
                                    <span class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </div>
                                    </span>
                                    <input  v-on:keyup.enter="login()" type="text" class="form-control" 
                                               id="inputEmail"
                                               v-model="form.Email"
                                               placeholder="البريد الالكتروني / اسم المستخدم"
                                               required
                                               autofocus
                                           >
                                </div>
                                <div class="input-group no-border form-control-lg">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </div>
                                    </div>
                                    <input  v-on:keyup.enter="login()"  type="password" placeholder="الرقم السري" class="form-control"
                                               id="inputPassword"
                                               v-model="form.Password"
                                               required
                                           >
                                </div>
                            </div>
                            <div class="card-footer ">
                                <a href="#" class="btn btn-primary btn-round btn-lg btn-block mb-3" @click.prevent="login()">تسجيل الدخول</a>
                                <div class="pull-left">
                                    <!--<h6><a href="https://qac.codeexperts.ly/" class="link footer-link">انشاء حساب جديد</a></h6>-->
                                </div>
                                <!--<div class="pull-right">
                                    <h6><a href="#pablo" class="link footer-link">Need Help?</a></h6>
                                </div>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class=" container-fluid ">
                <div class="credits ml-auto">
                    <span class="copyright" style="color: black; font-weight: bold;">
                        ©
                        <script type="application/javascript">
                                    {{Date().toLocaleString().split(" ")[3]}}
                        </script>حقوق الطبع والنشر محفوظه
                        -
                        المركز الوطني لمكافحة الامراض
                    </span>

                </div>
            </div>
        </footer>
    </div>
    </div>
</div>