<footer class="footer">
    <div class=" container-fluid ">
        <!--<nav>
        <ul>
            <li>
                <a href="/">
                    Code Experts
                </a>
            </li>
            <li>
                <a href="http://presentation.creative-tim.com">
                    About Us
                </a>
            </li>
            <li>
                <a href="http://blog.creative-tim.com">
                    Blog
                </a>
            </li>
        </ul>
    </nav>-->
        <div class="credits ml-auto">
            <span class="copyright">
                ©
                <script type="application/javascript">
                                    {{Date().toLocaleString().split(" ")[3]}}
                </script>حقوق الطبع والنشر محـفوظه -
                المركز الوطني لمكافحة الامراض
            </span>
        </div>
    </div>
</footer>